<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UsersConnection" connectionString="Data Source=31.31.196.202;Initial Catalog=u1374810_users;User ID=u1374810_user;Password=%c5L35gQ"
				 providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>